@import "utils.scss";

$baseFontSize: 75px !default;
$decimals: 3 !default;

@function px2rem($px) {
  $px-value: strip-units($px);
  $base-size: strip-units($baseFontSize);

  @return $px-value / $base-size * 1rem;
}

@mixin remCalc($property, $values...) {
  $max: length($values);
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-units(nth($values, $i));
    $remValues: #{$remValues + toFixedN(px2rem($value), $decimals)};

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 

  #{$property}: $remValues; 
}