@import "utils.scss";

$baseFontSize: 75px !default;

@function px2rem($px) {
  $px-value: strip-units($px);
  $base-size: strip-units($baseFontSize);

  @return $px-value / $base-size * 1rem;
}

@mixin remCalc($property, $values...) {
  $max: length($values); // 返回$values列表的长度值
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-units(nth($values, $i)); // 返回$values列表中的第$i个值，并将单位值去掉
    $remValues: #{$remValues + toFixedN(px2rem($value))};

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 

  #{$property}: $remValues; 
}

body{
  width: px2rem(75px);
  @include remCalc(padding, 37.5px, 1, 3px, 75);
  background-color: #ccc;
}